body{
  height: 49vw;
  background-image: url(background-img\ .webp);
  background-repeat: no-repeat;
  background-size: 100%;
}
/*welcom page styiling & animation*/
.welcom-text{
    position: absolute;
    top: 10%;
    font-size: 50px;
}
.welcom-message{
  position:absolute;
  border-radius:25px;
  background-image: url(welcom-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width:100%;
  opacity: 0;**
  display:flex;
  justify-content: center;
  align-items: center;
  animation:fade 2s  ease-in;
  animation-fill-mode: forwards;
  
}
/*@keyframes fade{
  0%{opacity:1;}
  50% {opacity:0.9;}
  100%{opacity:0;}
}*/
/*menu styling & animation*/
.main-content-container{
  height:100%;
  display:grid;
  grid-template-columns:20vw 80vw;
  /*background-color:yellow;*/
  gap:5px;
}
/*side menu styling*/
.menu-list {
    list-style: none;
    position: relative;
    top: 25%;
    left: -30px;
    
}
.list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
    align-items: center;
    transition: background-color 2.1s, font-size 0.5s;
}
.list-item:hover {
    font-size: 30px ;
    text-decoration: underline;
    border: 1px solid rgba(107, 74, 236, 0.3);
    border-radius: 5px;
    background-color: rgba(61, 48, 242, 0.2);
}
